VITE_API_URL="http://localhost:5000/api"
DATABASE_URL="postgresql://postgres:Radian_8585!@db.xwrhhpwljaqexisqbcer.supabase.co:5432/postgres"
FRONTEND_URL="https://cartload-graceful-creamer.ngrok-free.dev/"
VITE_API_URL="https://cartload-graceful-creamer.ngrok-free.dev/"
